@use '../../1-base/variables';

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;

  .menu__lineOne,
  .menu__lineTwo,
  .menu__lineThree {
    height: 0.125rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: variables.$white;
    transition: 0.25s ease;
  }

  .menu__lineOne {
    &.lineOneIsActivated {
      transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
    }
  }

  .menu__lineTwo {
    &.lineTwoIsActivated {
      opacity: 0;
    }
  }

  .menu__lineThree {
    &.lineThreeIsActivated {
      transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
    }
  }

  &:hover,
  &:active {
    .menu__lineOne,
    .menu__lineTwo,
    .menu__lineThree {
      background-color: variables.$quaternary-color;
    }
  }
}
