@use '../../1-base/variables';

.header__links {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  margin-top: 3.85rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$secondary-color;
  transform: translateX(100%);
  transition: transform variables.$transition-medium;
  &.menuIsActivated {
    transform: translateX(0);
  }

  .header__navigation {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    .header__navigationTitle {
      h2 {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        text-shadow: variables.$shadow-text;
      }
    }

    .header__navigationLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;

      a {
        font-size: 1.3rem;
        text-align: center;
        transition: color variables.$transition-fast;
      }
    }
  }

  .header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .header__contactsTitle {
      display: block;

      h2 {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        text-shadow: variables.$shadow-text;
      }
    }

    .header__contactsLinks {
      display: flex;
      gap: 1.25rem;

      @keyframes expand {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.15);
        }
      }

      @keyframes noExpand {
        0% {
          transform: scale(1.15);
        }
        100% {
          transform: scale(1);
        }
      }

      .fa-linkedin,
      .fa-envelope,
      .fa-whatsapp,
      .fa-github {
        font-size: 1.75rem;
        transition: color variables.$transition-medium;
        &:hover {
          animation: expand variables.$transition-medium linear infinite
            alternate;
        }
      }

      .fa-linkedin:hover {
        color: #0e76a8;
      }

      .fa-envelope:hover {
        color: #ee3c36;
      }

      .fa-whatsapp:hover {
        color: #25d366;
      }

      .fa-github:hover {
        color: #101010;
      }
    }
  }
}
