@use '../../1-base/variables';

.footer__contacts {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-top: 0.125rem solid variables.$primary-color;
  border-bottom: 0.125rem solid variables.$primary-color;

  .footer__title {
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      text-shadow: variables.$shadow-text;
    }
  }

  .footer__email,
  .footer__tel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    h3 {
      font-weight: 700;
    }

    a {
      transition: color variables.$transition-fast;
      font-size: 0.85rem;
    }
  }
}
