// Medias queries
$xl2: 96rem;
$xl: 80rem;
$lg: 64rem;
$md: 48rem;
$sm: 40rem;
$min-desktop: 31.25rem;
$mbl: 26.5625rem;
$mbm: 23.4375rem;
$mbs: 20rem;

// Colors
$white: #fff;
$black: #000;
$primary-color: #2d2e31;
$secondary-color: #25262a;
$tertiary-color: #1b1b1d;
$color-link: #f2542d;
