@use 'sass:color';
@use '../../../1-base/variables';

.main__apresentation {
  margin-top: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .apresentation__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    h2 {
      font-size: 1.75rem;

      strong {
        color: variables.$quaternary-color;
      }
    }

    a {
      width: 80%;
      padding: 0.75rem 0;
      border-radius: 0.5rem;
      background-color: variables.$quaternary-color;
      transition: background-color 0.4s;
      &:hover {
        background-color: color.adjust(
          variables.$quaternary-color,
          $lightness: -15%
        );
      }
    }
  }
}
