$primary-color: #ff5f5a;
$secondary-color: #ffbe2e;
$tertiary-color: #2aca44;
$quaternary-color: #2a9bd9;
$quinary-color: #b770cd;
$senary-color: #d5b375;
$septenary-color: #4a95a1;
$octonary-color: #9ba2ae;
$nonary-color: #db6a73;
$denary-color: #98c379;
$elevenary-color: #b2865c;
$twelveary-color: #23272e;

.apresentation__code {
  $self: '.code';
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.125rem;
  border-radius: 1rem;
  border: 0.125rem solid black;
  background-color: $twelveary-color;

  .code__header {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 0.0625rem solid black;

    div {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
    }

    div:nth-child(1) {
      background: $primary-color;
    }

    div:nth-child(2) {
      background-color: $secondary-color;
    }

    div:nth-child(3) {
      background-color: $tertiary-color;
    }
  }

  .code__body {
    padding: 0.75rem;
    display: flex;
    gap: 0.75rem;
  }

  .code__lines {
    display: none;
  }

  .code__content {
    #{$self}__declaration {
      color: $quinary-color;
    }

    #{$self}__title {
      display: inline;
      font-size: 1rem;
      color: $senary-color;
    }

    #{$self}__assignment {
      color: $septenary-color;
    }

    #{$self}__keys {
      color: $octonary-color;
    }

    #{$self}__properties {
      margin-left: 1.5rem;
      color: $nonary-color;
    }

    #{$self}__values {
      color: $denary-color;

      &--noString {
        color: $elevenary-color;
      }
      &--block {
        margin-left: 3rem;
        display: block;
        color: $denary-color;
      }
    }

    #{$self}__commas {
      color: $octonary-color;
    }

    #{$self}__brackets {
      color: $octonary-color;
      &:last-child {
        margin-left: 1.5rem;
      }
    }

    #{$self}__valueArray {
      margin-left: 3rem;
      display: block;
    }
  }
}