@use '../../../1-base/variables';
@use '../../../3-modules/mixins';

.apresentation__code {
  $self: '.code';
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.125rem;
  border-radius: 1rem;
  border: 0.125rem solid black;
  background-color: #23272e;

  .code__header {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 0.0625rem solid black;

    div {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
    }

    div:nth-child(1) {
      background: #ff5f5a;
    }

    div:nth-child(2) {
      background-color: #ffbe2e;
    }

    div:nth-child(3) {
      background-color: #2aca44;
    }
  }

  .code__body {
    padding: 0.75rem;
    display: flex;
    gap: 0.75rem;
  }

  .code__lines {
    display: none;
    @include mixins.lg {
      display: flex;
      flex-direction: column;
      text-align: right;

      span {
        color: gray;
      }
    }
  }

  .code__content {
    #{$self}__declaration {
      color: #b770cd;
    }

    #{$self}__title {
      display: inline;
      font-size: 1rem;
      color: #d5b375;
    }

    #{$self}__assignment {
      color: #4a95a1;
    }

    #{$self}__keys {
      color: #9ba2ae;
    }

    #{$self}__properties {
      margin-left: 1.5rem;
      color: #db6a73;
    }

    #{$self}__values {
      color: #98c379;

      &--noString {
        color: #b2865c;
      }
      &--block {
        margin-left: 3rem;
        display: block;
        color: #98c379;
      }
    }

    #{$self}__commas {
      color: #9ba2ae;
    }

    #{$self}__brackets {
      color: #9ba2ae;
      &:last-child {
        margin-left: 1.5rem;
      }
    }

    #{$self}__valueArray {
      margin-left: 3rem;
      display: block;
    }
  }
}
