@use '../../../3-modules/plugins';

.main__apresentation,
.main__myHistory,
.main__certificates {
  margin-top: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    @extend %container;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
