@use '../../../1-base/variables';
@use '../../../3-modules/mixins';

.main__apresentation .container {
  @include mixins.lg {
    flex-direction: row;
    gap: 3.25rem;
  }

  @include mixins.xl2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// --------------------------------------------------------------------------- //

.main__apresentation,
.main__myHistory,
.main__certificates {
  @include mixins.lg {
    min-height: 82.5vh;
    margin-top: 4.05rem;
  }

  @include mixins.xl2 {
    margin-top: 5.043125rem;
  }

  .apresentation__content {
    @include mixins.lg {
      gap: 1.25rem;
    }

    @include mixins.xl2 {
      gap: 1.5rem;
    }

    a {
      @include mixins.lg {
        width: 60%;
        padding: 1rem 0;
      }
    }
  }
}

.main__myHistory,
.main__certificates {
  @include mixins.lg {
    min-height: auto;
  }
}

// --------------------------------------------------------------------------- //

.apresentation__code {
  .code__lines {
    @include mixins.min-desktop {
      display: flex;
      flex-direction: column;
      text-align: right;

      span {
        color: variables.$gray;
      }
    }
  }
}
