@use "../../1-base/variables";
@use "../../3-modules/mixins";

.settings {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 8px;
  background-color: #444444;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;

  i {
    color: #949494;
    cursor: pointer;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }
}

.settings__modal {
  max-width: 40rem;
  height: 30rem;
  width: 95.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  border: 2px solid black;
  background-color: #23272e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.settings__header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid black;

  i {
    font-size: 2rem;
    cursor: pointer;
  }
}

.settings__body {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;

  .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;

    div:nth-child(1) {
      height: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 2px solid black;

      label {
        height: 100%;
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black;
        background-color: variables.$color-link;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
      }
    }

    div:nth-child(2) {
      text-align: center;
    }
  }

  .separate {
    height: 0.25rem;
    margin: 0 1rem;
    border-bottom: 1px solid gray;
  }
}

.settings__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

select {
  height: 100%;
  width: 70%;
  padding: 0 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  color: white;
  outline: 0;
  border: 0;
  background-color: #343434;
  cursor: pointer;
}

/* Arrow */
.select::after {
  position: absolute;
  top: -0.25rem;
  right: 0;
  padding: 1rem;
  border-left: 1px solid black;
  background-color: #34495e;
  content: "\25BC";
  pointer-events: none;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;

  &:hover {
    color: variables.$color-link;
  }
}
