$primary-color: #ff5f5a;
$secondary-color: #ffbe2e;
$tertiary-color: #2aca44;

.aboutMe__balls,
.myHistory__balls,
.settings__balls {
  display: flex;
  gap: 0.75rem;

  > div {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }

  > div:nth-child(1) {
    background: $primary-color;
  }

  > div:nth-child(2) {
    background: $secondary-color;
  }

  > div:nth-child(3) {
    background: $tertiary-color;
  }
}
