@use '../../3-modules/mixins';

.BlurOnBody,
.BlurOnMain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
}

.BlurOnBody {
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  &.BlurOnBodyIsActivated {
    opacity: 1;
    pointer-events: all;
  }
}

.BlurOnMain {
  height: 100vh;
  width: 50%;
  z-index: 1000;
  margin-top: 5.05rem;
  border-right: 0.0625rem solid gray;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  &.BlurOnMainIsActivated {
    transform: translateX(0);
  }
  @include mixins.lg {
    display: block;
  }
  @include mixins.xl2 {
    display: none;
  }
}
