@use '../../1-base/variables';
@use '../../3-modules/mixins';

.BlurOnBody,
.BlurOnMain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: variables.$black-opacity;
  backdrop-filter: variables.$blur;
}

.BlurOnBody {
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity variables.$transition-fast;
  &.BlurOnBodyIsActivated {
    opacity: 1;
    pointer-events: all;
  }
}

.BlurOnMain {
  height: 100vh;
  width: 50%;
  z-index: 1000;
  margin-top: 4.05rem;
  border-right: 0.0625rem solid variables.$gray;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  &.BlurOnMainIsActivated {
    transform: translateX(0);
  }
}
