@use '../../3-modules/mixins';

.blurOnMain {
  @include mixins.lg {
    display: block;
  }

  @include mixins.xxl {
    display: none;
  }
}

.hamburgerButton {
  &#menuButton {
    @include mixins.xxl {
      display: none;
    }
  }
}

.settings {
  .settings__header {
    h2 {
      @include mixins.sm {
        font-size: 1.5rem;
      }
    }
  }
}
