@use '../../1-base/variables';

.container__gear {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: variables.$gear-background-color;
  cursor: pointer;

  i {
    color: variables.$gear-color;
    transition: 1s ease;
  }
}

.settings__modal {
  max-width: 40rem;
  height: 32rem;
  width: 95%;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  opacity: 0;
  border-radius: 1rem;
  border: 0.125rem solid variables.$black;
  background-color: variables.$codeAndSettings-backgroundColor;
  pointer-events: none;
  transition: opacity 0.5s ease;
  transform: translate(-50%, -35%);

  &.settingActivated {
    opacity: 1;
    pointer-events: all;
  }

  .settings__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid variables.$black;

    i {
      font-size: 2rem;
      cursor: pointer;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .settings__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-size: 1.25rem;
      }

      .selectHidden {
        display: none;
      }

      .elementOfSelections {
        cursor: pointer;
        position: relative;
        width: 60%;
        height: 3rem;
      }

      .selectedItem {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #c0392b;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        padding: 0.5rem 1rem;
        transition: background-color variables.$transition-fast;
        &:hover {
          background-color: #b83729;
        }
        &:active {
          background-color: #ab3326;

          &:after {
            top: 0.75rem;
            border-color: transparent transparent #fff transparent;
          }
        }

        &:after {
          content: '';
          width: 0;
          height: 0;
          border: 0.5rem solid transparent;
          border-color: #fff transparent transparent transparent;
          position: absolute;
          top: 1.25rem;
          right: 1rem;
        }
      }

      .listOfOptions {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #ab3326;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        overflow: hidden;

        &.show {
          display: block;
        }

        li {
          margin: 0;
          padding: 12px 0;
          text-indent: 15px;
          border-top: 1px solid #962d22;
          transition: all 0.15s ease-in;

          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  }

  .settings__footer {
    padding: 0 1rem 1rem 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    div {
      display: flex;

      button {
        padding: 0.75rem 1.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        color: variables.$white;
        border: none;
        border: 0.125rem solid variables.$black;
        background-color: variables.$tertiary-color;
        cursor: pointer;
        transition: background-color variables.$transition-fast;

        &:hover {
          background-color: variables.$quaternary-color;
        }

        &:first-child {
          border-right-width: 0.03125rem;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }

        &:last-child {
          border-left-width: 0.03125rem;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }
    }
  }
}
