@use "variables";
@use "../3-modules/mixins";

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: variables.$white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  @include mixins.sm {
    letter-spacing: 2px;
  }
}

body {
  padding: 0 0 200rem;
  background-color: variables.$primary-color;
}
