@use '../../../1-base/variables';
@use '../../../3-modules/plugins';

.main__projects {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  background-color: variables.$tertiary-color;

  #myProjects {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .container {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
