@use 'sass:color';
@use '../../../1-base/variables';
@use '../../../3-modules/mixins';
@use '../../../3-modules/plugins';

.main__projects {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: variables.$tertiary-color;
  min-height: 100vh;
}

.main__projects .container {
  @extend %container;
}
