@use '../../../1-base/variables';
@use '../../../3-modules/plugins';

.main__projects {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem 0;
  background-color: variables.$tertiary-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @extend %container;
  }
}
