.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  i {
    font-size: 5rem;
  }

  h3 {
    font-size: 1.65rem;
    text-align: center;
  }
}
