@use '../../../1-base/variables';
@use '../../../3-modules/mixins';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  i {
    font-size: 5rem;
    color: variables.$color-link;
  }

  h3 {
    font-size: 1.65rem;
    text-align: center;
    @include mixins.md {
      width: 75%;
    }
    @include mixins.lg {
      width: 65%;
    }
  }
}
