@use '../../../1-base/variables';
@use 'sass:color';

.projects__contents {
  $self: '.projects';
  max-width: 64rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  background-color: #262626;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);

  .projects__pagesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    #{$self}__projectAccountant {
      width: max-content;
      padding: 0.75rem;
      font-size: 0.75rem;
      border-radius: 1rem;
      background-color: variables.$tertiary-color;
      align-self: flex-end;

      strong {
        font-weight: 700;
        color: variables.$quaternary-color;
      }
    }

    #{$self}__projectsItems {
      #{$self}__page {
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes fadeOut {
          0% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        display: none;
        animation: fadeOut 0.75s;
        animation-fill-mode: forwards;

        &#{$self}__pageIsDisplayed {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
          gap: 1.5rem;
          animation: fadeIn 0.75s;
          animation-fill-mode: forwards;

          #{$self}__card {
            padding: 0.75rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 1rem;
            border: 2px solid variables.$tertiary-color;

            #{$self}__cardHeader {
              h3 {
                font-size: 1.25rem;
                font-weight: 700;
                text-align: center;
              }
            }

            #{$self}__cardBody {
              #{$self}__cardDescription {
                font-size: 0.85rem;

                p {
                  height: 100%;
                  text-align: center;
                  overflow-wrap: break-word;
                }
              }
            }

            #{$self}__cardFooter {
              margin-top: auto;
              display: flex;
              justify-content: space-evenly;
              align-items: center;

              a {
                padding: 0.5rem 1rem;
                font-size: 0.85rem;
                font-weight: 700;
                color: variables.$white;
                border-radius: 0.75rem;
                background-color: variables.$tertiary-color;
                transition: background-color 0.3s, color 0.3s;
                &:hover {
                  background-color: variables.$quaternary-color;
                }
              }
            }
          }
        }
      }
    }
  }

  .projects__pagination {
    display: flex;
    justify-content: center;

    a {
      padding: 0.35rem 0.65rem;
      font-weight: 700;
      color: variables.$quaternary-color;
      background-color: variables.$tertiary-color;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        color: variables.$white;
        background-color: color.adjust(
          variables.$quaternary-color,
          $lightness: -15%
        );
      }
      &#{$self}__paginationIsSelected {
        color: variables.$white;
        background-color: variables.$quaternary-color;

        &:hover {
          color: variables.$white;
          background-color: variables.$quaternary-color;
        }
      }
      &:first-child {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
      &:last-child {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }

  .projects__loadingProjects {
    margin: 0 0 6rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: variables.$quaternary-color;
  }
}
