@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
aboutMe,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  color: #fff;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.2;
  background-color: #2d2e31;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #ccc;
}
body::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.quaternary__color {
  color: #ff5f5a !important;
}
.quaternary__color--hover:hover {
  color: #ff5f5a !important;
}
.quinary__color {
  color: #ffbe2e !important;
}
.quinary__color--hover:hover {
  color: #ffbe2e !important;
}
.senary__color {
  color: #2aca44 !important;
}
.senary__color--hover:hover {
  color: #2aca44 !important;
}
.septenary__color {
  color: #2e60f2 !important;
}
.septenary__color--hover:hover {
  color: #2e60f2 !important;
}
.octonary__color {
  color: #662ef2 !important;
}
.octonary__color--hover:hover {
  color: #662ef2 !important;
}
.quaternary__backgroundColor {
  background-color: #ff5f5a !important;
}
.quaternary__backgroundColor--hover:hover {
  background-color: #ff5f5a !important;
}
.quaternary__backgroundColor--selected {
  background-color: #ff5f5a !important;
}
.quaternary__backgroundColor--lessLightHover:hover {
  background-color: #ff150e !important;
}
.quaternary__backgroundColor--menuHover:hover div {
  background-color: #ff5f5a !important;
}
.quaternary__backgroundColor--menuActive:active div {
  background-color: #ff5f5a !important;
}
.quinary__backgroundColor {
  background-color: #ffbe2e !important;
}
.quinary__backgroundColor--hover:hover {
  background-color: #ffbe2e !important;
}
.quinary__backgroundColor--selected {
  background-color: #ffbe2e !important;
}
.quinary__backgroundColor--lessLightHover:hover {
  background-color: #e19b00 !important;
}
.quinary__backgroundColor--menuHover:hover div {
  background-color: #ffbe2e !important;
}
.quinary__backgroundColor--menuActive:active div {
  background-color: #ffbe2e !important;
}
.senary__backgroundColor {
  background-color: #2aca44 !important;
}
.senary__backgroundColor--hover:hover {
  background-color: #2aca44 !important;
}
.senary__backgroundColor--lessLightHover:hover {
  background-color: #1d8b2f !important;
}
.senary__backgroundColor--selected {
  background-color: #2aca44 !important;
}
.senary__backgroundColor--menuHover:hover div {
  background-color: #2aca44 !important;
}
.senary__backgroundColor--menuActive:active div {
  background-color: #2aca44 !important;
}
.septenary__backgroundColor {
  background-color: #2e60f2 !important;
}
.septenary__backgroundColor--hover:hover {
  background-color: #2e60f2 !important;
}
.septenary__backgroundColor--selected {
  background-color: #2e60f2 !important;
}
.septenary__backgroundColor--lessLightHover:hover {
  background-color: #0c3cc7 !important;
}
.septenary__backgroundColor--menuHover:hover div {
  background-color: #2e60f2 !important;
}
.septenary__backgroundColor--menuActive:active div {
  background-color: #2e60f2 !important;
}
.octonary__backgroundColor {
  background-color: #662ef2 !important;
}
.octonary__backgroundColor--hover:hover {
  background-color: #662ef2 !important;
}
.octonary__backgroundColor--selected {
  background-color: #662ef2 !important;
}
.octonary__backgroundColor--lessLightHover:hover {
  background-color: #420cc7 !important;
}
.octonary__backgroundColor--menuHover:hover div {
  background-color: #662ef2 !important;
}
.octonary__backgroundColor--menuActive:active div {
  background-color: #662ef2 !important;
}
.visually-hidden {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
@media screen and (min-width: 31.25rem) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  aboutMe,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    letter-spacing: 0.125rem;
  }
}
.footer .container,
.main__services .container,
.main__projects .container,
.main__apresentation .container,
.main__myHistory .container,
.main__certificates .container,
.header .container {
  margin: 0 auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .footer .container,
  .main__services .container,
  .main__projects .container,
  .main__apresentation .container,
  .main__myHistory .container,
  .main__certificates .container,
  .header .container {
    max-width: 48rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 64rem) {
  .footer .container,
  .main__services .container,
  .main__projects .container,
  .main__apresentation .container,
  .main__myHistory .container,
  .main__certificates .container,
  .header .container {
    max-width: 64rem;
    padding-right: 0.45rem;
    padding-left: 0.45rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer .container,
  .main__services .container,
  .main__projects .container,
  .main__apresentation .container,
  .main__myHistory .container,
  .main__certificates .container,
  .header .container {
    max-width: 80rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}
@media screen and (min-width: 96rem) {
  .footer .container,
  .main__services .container,
  .main__projects .container,
  .main__apresentation .container,
  .main__myHistory .container,
  .main__certificates .container,
  .header .container {
    max-width: 96rem;
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  border-bottom: 0.0625rem solid #ccc;
  background-color: #25262a;
}
.header .container {
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title a {
  font-size: 1.5rem;
  transition: color 0.3s;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.header__links {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  margin-top: 3.85rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #25262a;
  transform: translateX(100%);
  transition: transform 0.6s;
}
.header__links.menuIsActivated {
  transform: translateX(0);
}
.header__links .header__navigation {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.header__links .header__navigation .header__navigationTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.header__links .header__navigation .header__navigationLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.header__links .header__navigation .header__navigationLinks a {
  font-size: 1.3rem;
  text-align: center;
  transition: color 0.3s;
}
.header__links .header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__links .header__contacts .header__contactsTitle {
  display: block;
}
.header__links .header__contacts .header__contactsTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.header__links .header__contacts .header__contactsLinks {
  display: flex;
  gap: 1.25rem;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes noExpand {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin,
.header__links .header__contacts .header__contactsLinks .fa-envelope,
.header__links .header__contacts .header__contactsLinks .fa-whatsapp,
.header__links .header__contacts .header__contactsLinks .fa-github {
  font-size: 1.75rem;
  transition: color 0.6s;
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin:hover,
.header__links .header__contacts .header__contactsLinks .fa-envelope:hover,
.header__links .header__contacts .header__contactsLinks .fa-whatsapp:hover,
.header__links .header__contacts .header__contactsLinks .fa-github:hover {
  animation: expand 0.6s linear infinite alternate;
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin:hover {
  color: #0e76a8;
}
.header__links .header__contacts .header__contactsLinks .fa-envelope:hover {
  color: #ee3c36;
}
.header__links .header__contacts .header__contactsLinks .fa-whatsapp:hover {
  color: #25d366;
}
.header__links .header__contacts .header__contactsLinks .fa-github:hover {
  color: #101010;
}
@media screen and (min-width: 96rem) {
  .header .container {
    padding: 1.5rem 0;
    justify-content: space-around;
  }
}
@media screen and (min-width: 48rem) {
  .header__title a {
    font-size: 1.65rem;
  }
}
@media screen and (min-width: 48rem) {
  .header__links {
    margin-top: 4.05rem;
  }
}
@media screen and (min-width: 64rem) {
  .header__links {
    width: 50%;
    box-shadow: inset 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.6);
  }
}
@media screen and (min-width: 96rem) {
  .header__links {
    height: auto;
    width: 51.5%;
    position: static;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    border-left: none;
    box-shadow: none;
    transform: translate(0);
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation {
    margin: 0;
    display: block;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationTitle {
    display: none;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationLinks {
    flex-direction: row;
    gap: 1.5rem;
  }
  .header__links .header__navigation .header__navigationLinks a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts {
    flex-direction: row;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactsTitle {
    display: none;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactsTitle h2 {
    font-size: 1.65rem;
  }
}
@media screen and (min-width: 48rem) {
  .header__links .header__contacts .header__contactsLinks .fa-linkedin,
  .header__links .header__contacts .header__contactsLinks .fa-envelope,
  .header__links .header__contacts .header__contactsLinks .fa-whatsapp,
  .header__links .header__contacts .header__contactsLinks .fa-github {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactsLinks .fa-linkedin,
  .header__links .header__contacts .header__contactsLinks .fa-envelope,
  .header__links .header__contacts .header__contactsLinks .fa-whatsapp,
  .header__links .header__contacts .header__contactsLinks .fa-github {
    font-size: 1.5rem;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__apresentation,
.main__myHistory,
.main__certificates {
  margin-top: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__apresentation .container,
.main__myHistory .container,
.main__certificates .container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.apresentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.apresentation h2 {
  font-size: 1.5rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.apresentation a {
  width: 80%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
.aboutMe,
.myHistory {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.125rem;
  border-radius: 1rem;
  border: 0.125rem solid #000;
  background-color: #23272e;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
}
.aboutMe .aboutMe__header,
.aboutMe .myHistory__header,
.myHistory .aboutMe__header,
.myHistory .myHistory__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.0625rem solid #000;
}
.aboutMe .aboutMe__header .aboutMe__balls,
.aboutMe .aboutMe__header .myHistory__balls,
.aboutMe .myHistory__header .aboutMe__balls,
.aboutMe .myHistory__header .myHistory__balls,
.myHistory .aboutMe__header .aboutMe__balls,
.myHistory .aboutMe__header .myHistory__balls,
.myHistory .myHistory__header .aboutMe__balls,
.myHistory .myHistory__header .myHistory__balls {
  display: flex;
  gap: 0.75rem;
}
.aboutMe .aboutMe__header .aboutMe__balls > div,
.aboutMe .aboutMe__header .myHistory__balls > div,
.aboutMe .myHistory__header .aboutMe__balls > div,
.aboutMe .myHistory__header .myHistory__balls > div,
.myHistory .aboutMe__header .aboutMe__balls > div,
.myHistory .aboutMe__header .myHistory__balls > div,
.myHistory .myHistory__header .aboutMe__balls > div,
.myHistory .myHistory__header .myHistory__balls > div {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.aboutMe .aboutMe__header .aboutMe__balls > div:nth-child(1),
.aboutMe .aboutMe__header .myHistory__balls > div:nth-child(1),
.aboutMe .myHistory__header .aboutMe__balls > div:nth-child(1),
.aboutMe .myHistory__header .myHistory__balls > div:nth-child(1),
.myHistory .aboutMe__header .aboutMe__balls > div:nth-child(1),
.myHistory .aboutMe__header .myHistory__balls > div:nth-child(1),
.myHistory .myHistory__header .aboutMe__balls > div:nth-child(1),
.myHistory .myHistory__header .myHistory__balls > div:nth-child(1) {
  background: #ff5f5a;
}
.aboutMe .aboutMe__header .aboutMe__balls > div:nth-child(2),
.aboutMe .aboutMe__header .myHistory__balls > div:nth-child(2),
.aboutMe .myHistory__header .aboutMe__balls > div:nth-child(2),
.aboutMe .myHistory__header .myHistory__balls > div:nth-child(2),
.myHistory .aboutMe__header .aboutMe__balls > div:nth-child(2),
.myHistory .aboutMe__header .myHistory__balls > div:nth-child(2),
.myHistory .myHistory__header .aboutMe__balls > div:nth-child(2),
.myHistory .myHistory__header .myHistory__balls > div:nth-child(2) {
  background: #ffbe2e;
}
.aboutMe .aboutMe__header .aboutMe__balls > div:nth-child(3),
.aboutMe .aboutMe__header .myHistory__balls > div:nth-child(3),
.aboutMe .myHistory__header .aboutMe__balls > div:nth-child(3),
.aboutMe .myHistory__header .myHistory__balls > div:nth-child(3),
.myHistory .aboutMe__header .aboutMe__balls > div:nth-child(3),
.myHistory .aboutMe__header .myHistory__balls > div:nth-child(3),
.myHistory .myHistory__header .aboutMe__balls > div:nth-child(3),
.myHistory .myHistory__header .myHistory__balls > div:nth-child(3) {
  background: #2aca44;
}
.aboutMe .aboutMe__body,
.aboutMe .myHistory__body,
.myHistory .aboutMe__body,
.myHistory .myHistory__body {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
}
.aboutMe .myHistory__body,
.myHistory .myHistory__body {
  flex-direction: column;
}
.aboutMe .aboutMe__lines {
  display: none;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__declaration {
  color: #b770cd;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__title {
  display: inline;
  font-size: 1rem;
  color: #d5b375;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__assignment {
  color: #4a95a1;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__keys {
  color: #9ba2ae;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__properties {
  margin-left: 1.5rem;
  color: #db6a73;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__values {
  color: #98c379;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__values--noString {
  color: #b2865c;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__values--block {
  margin-left: 3rem;
  display: block;
  color: #98c379;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__commas {
  color: #9ba2ae;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__brackets {
  color: #9ba2ae;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__brackets:last-child {
  margin-left: 1.5rem;
}
.aboutMe .aboutMe__body .aboutMe__content .aboutMe__valueArray {
  margin-left: 3rem;
  display: block;
}
.myHistory .myHistory__title h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.myHistory .myHistory__section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.myHistory .myHistory__section .myHistory__subTitle h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #d5b375;
}
.myHistory .myHistory__section .myHistory__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
  text-align: justify;
  color: #9ba2ae;
  text-indent: 2rem;
}
.certificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.certificates .certificates__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.certificates .certificates__items .certificates__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #1b1b1d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #25262a;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemHeader {
  margin-bottom: 1rem;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemHeader
  h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:first-child
  p {
  text-align: justify;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:first-child
  ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:first-child
  ul
  h4 {
  font-size: 1rem;
  font-weight: 700;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:first-child
  ul
  li {
  padding-left: 1.5rem;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemContent
  div:last-child
  p
  strong {
  font-weight: 700;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemFooter {
  display: flex;
  justify-content: center;
  border-top: 0.125rem solid #1b1b1d;
}
.certificates
  .certificates__items
  .certificates__item
  .certificates__itemFooter
  a {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s;
}
@media screen and (min-width: 64rem) {
  .main__apresentation {
    margin: 15.75rem 0 11.75rem 0;
  }
}
@media screen and (min-width: 96rem) {
  .main__apresentation {
    margin: 18.743125rem 0 13.75rem 0;
  }
}
@media screen and (min-width: 64rem) {
  .main__myHistory,
  .main__certificates {
    margin: 6.05rem 0 2.05rem 0;
  }
}
@media screen and (min-width: 96rem) {
  .main__myHistory,
  .main__certificates {
    margin: 7.043125rem 0 2.05rem 0;
  }
}
@media screen and (min-width: 64rem) {
  .main__apresentation .container {
    flex-direction: row;
    gap: 3.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__apresentation .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 64rem) {
  .apresentation {
    gap: 1.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .apresentation {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 64rem) {
  .apresentation h2 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 96rem) {
  .apresentation h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  .apresentation a {
    width: 60%;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 31.25rem) {
  .aboutMe .aboutMe__lines {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .aboutMe .aboutMe__lines span {
    color: #ccc;
  }
}
@media screen and (min-width: 40rem) {
  .myHistory {
    max-width: 48rem;
  }
}
@media screen and (min-width: 40rem) {
  .myHistory .myHistory__header,
  .myHistory .myHistory__body {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 40rem) {
  .myHistory .myHistory__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 40rem) {
  .myHistory .myHistory__section .myHistory__subTitle h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 40rem) {
  .myHistory .myHistory__section .myHistory__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 40rem) {
  .certificates .certificates__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
}
@media screen and (min-width: 64rem) {
  .certificates .certificates__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 96rem) {
  .certificates .certificates__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main__projects {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  background-color: #1b1b1d;
}
.main__projects .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#myProjects {
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
}
.projects {
  max-width: 64rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  background-color: #25262a;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
}
.projects .projects__pagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.projects .projects__pagesContainer .projects__projectAccountant {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 0.125rem;
  font-size: 0.85rem;
  border-radius: 1rem;
  background-color: #1b1b1d;
}
.projects .projects__pagesContainer .projects__projectAccountant span {
  font-weight: 700;
}
.projects .projects__pagesContainer .projects__projectsItems .projects__page {
  display: none;
  animation: fadeOut 0.6s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
  animation: fadeIn 0.6s;
  animation-fill-mode: forwards;
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed
  .projects__card {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  border: 0.125rem solid #1b1b1d;
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed
  .projects__card
  .projects__cardHeader
  h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed
  .projects__card
  .projects__cardBody
  .projects__cardDescription {
  font-size: 0.85rem;
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed
  .projects__card
  .projects__cardBody
  .projects__cardDescription
  p {
  height: 100%;
  text-align: center;
  overflow-wrap: break-word;
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed
  .projects__card
  .projects__cardFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.projects
  .projects__pagesContainer
  .projects__projectsItems
  .projects__page.projects__pageIsDisplayed
  .projects__card
  .projects__cardFooter
  a {
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #1b1b1d;
  transition: background-color 0.3s, color 0.3s;
}
.projects .projects__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .projects__pagination a {
  padding: 0.35rem 0.7rem;
  font-weight: 700;
  background-color: #1b1b1d;
  cursor: pointer;
  transition: background-color 0.3s;
}
.projects .projects__pagination a:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.projects .projects__pagination a:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.projects .projects__loadingProjects {
  margin: 0 0 6rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.error i {
  font-size: 5rem;
}
.error h3 {
  font-size: 1.65rem;
  text-align: center;
}
@media screen and (min-width: 40rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 20.0625rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed
    .projects__card {
    padding: 1rem;
  }
}
@media screen and (min-width: 40rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed
    .projects__card {
    min-height: 0;
    min-width: 0;
  }
}
@media screen and (min-width: 48rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed
    .projects__card
    .projects__cardHeader
    h3 {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (min-width: 48rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed
    .projects__card
    .projects__cardBody
    .projects__cardDescription
    p {
    text-align: left;
  }
}
@media screen and (min-width: 20.0625rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed
    .projects__card
    .projects__cardFooter
    a {
    padding: 0.75rem 1.25rem;
  }
}
@media screen and (min-width: 40rem) {
  .projects
    .projects__pagesContainer
    .projects__projectsItems
    .projects__page.projects__pageIsDisplayed
    .projects__card
    .projects__cardFooter
    a {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 48rem) {
  .error h3 {
    width: 75%;
  }
}
@media screen and (min-width: 64rem) {
  .error h3 {
    width: 65%;
  }
}
.main__services {
  width: 100%;
  padding: 2rem 0;
}
.main__services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.services .services__item {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 0.125rem solid #1b1b1d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
}
.services .services__item .services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.services .services__item .services__header .services__icon i {
  font-size: 3rem;
}
.services .services__item .services__header .services__title h3 {
  font-size: 1.75rem;
  text-align: center;
}
.services .services__item .services__body .services__description p {
  font-size: 1rem;
  text-align: center;
}
.services .services__item .services__footer {
  height: 3rem;
  margin-top: auto;
}
.services .services__item .services__footer a {
  height: 100%;
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #1b1b1d;
  transition: background-color 0.3s;
}
@media screen and (min-width: 40rem) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .services {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 31.25rem) {
  .services .services__item:hover {
    box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.6);
  }
}
@media screen and (min-width: 64rem) {
  .main {
    margin-top: 0;
  }
}
.footer {
  padding: 2rem 0;
  background-color: #1b1b1d;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.footer__navigationLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.footer__navigationLinks .footer__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.footer__navigationLinks .footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__navigationLinks .footer__links a {
  transition: color 0.3s;
}
.footer__contacts {
  width: 100%;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-top: 0.125rem solid #2d2e31;
  border-bottom: 0.125rem solid #2d2e31;
}
.footer__contacts .footer__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.footer__contacts .footer__email,
.footer__contacts .footer__tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.footer__contacts .footer__email h3,
.footer__contacts .footer__tel h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.footer__contacts .footer__email a,
.footer__contacts .footer__tel a {
  font-size: 0.8rem;
  transition: color 0.3s;
}
.footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
}
.footer__copy h2 {
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.footer__copy p {
  font-size: 0.8rem;
}
@media screen and (min-width: 48rem) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'navigation contacts' 'copy copy';
    gap: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 'navigation copy contacts';
  }
}
@media screen and (min-width: 48rem) {
  .footer__navigationLinks {
    height: 100%;
    width: 100%;
    padding: 1rem;
    grid-area: navigation;
    justify-content: start;
    border-radius: 1rem;
    background-color: #25262a;
  }
}
@media screen and (min-width: 80rem) {
  .footer__navigationLinks {
    justify-content: center;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (min-width: 48rem) {
  .footer__contacts {
    height: 100%;
    width: 100%;
    padding: 1rem;
    grid-area: contacts;
    justify-content: start;
    border-radius: 1rem;
    border: none;
    background-color: #25262a;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contacts {
    justify-content: center;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (min-width: 48rem) {
  .footer__copy {
    padding-top: 1rem;
    grid-area: copy;
  }
  .footer__copy h2 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copy {
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
    border-right: 0.125rem solid #2d2e31;
    border-left: 0.125rem solid #2d2e31;
  }
}
.hamburgerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.hamburgerButton .hamburgerButton__lineOne,
.hamburgerButton .hamburgerButton__lineTwo,
.hamburgerButton .hamburgerButton__lineThree {
  height: 0.125rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.hamburgerButton .hamburgerButton__lineOne.lineOneIsActivated {
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}
.hamburgerButton .hamburgerButton__lineTwo.lineTwoIsActivated {
  opacity: 0;
}
.hamburgerButton .hamburgerButton__lineThree.lineThreeIsActivated {
  transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
}
.blurOnBody,
.blurOnMain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5rem);
}
.blurOnBody {
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.blurOnBody.blurOnBodyIsActivated {
  opacity: 1;
  pointer-events: all;
}
.blurOnMain {
  height: 100vh;
  width: 50%;
  z-index: 1000;
  margin-top: 4.05rem;
  border-right: 0.0625rem solid #ccc;
  transform: translateX(-100%);
  transition: transform 0.6s;
}
.blurOnMain.blurOnMainIsActivated {
  transform: translateX(0);
}
.separator {
  width: 0.0625rem;
  display: block;
  background-color: #fff;
}
.separator--page {
  height: 100%;
  width: 0.0625rem;
  display: block;
  background-color: #fff;
}
.sectionTitle {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.container__gear {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #444;
  cursor: pointer;
}
.container__gear i {
  color: #949494;
  transition: 1s ease;
}
.settings__modal {
  max-width: 40rem;
  height: 32rem;
  width: 95%;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  opacity: 0;
  border-radius: 1rem;
  border: 0.125rem solid #000;
  background-color: #23272e;
  pointer-events: none;
  transition: opacity 0.5s ease;
  transform: translate(-50%, -35%);
}
.settings__modal.settingActivated {
  opacity: 1;
  pointer-events: all;
}
.settings__modal .settings__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid #000;
}
.settings__modal .settings__header i {
  font-size: 2rem;
  cursor: pointer;
}
.settings__modal .settings__header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.settings__modal .settings__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.settings__modal .settings__body div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.settings__modal .settings__body div h3 {
  font-size: 1.25rem;
}
.settings__modal .settings__body div .selectHidden {
  display: none;
}
.settings__modal .settings__body div .elementOfSelections {
  height: 3rem;
  position: relative;
  cursor: pointer;
}
.settings__modal .settings__body div .selectedItem {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.125rem solid #000;
  background-color: #1b1b1d;
  transition: background-color 0.3s;
}
.settings__modal .settings__body div .selectedItem:hover {
  background-color: #151516;
}
.settings__modal .settings__body div .selectedItem:after {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  border: 0.5rem solid rgba(0, 0, 0, 0);
  content: '';
  border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.settings__modal .settings__body div .listOfOptions {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  background-color: #1b1b1d;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.settings__modal .settings__body div .listOfOptions.show {
  display: block;
}
.settings__modal .settings__body div .listOfOptions.show + div {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.settings__modal .settings__body div .listOfOptions.show + div:after {
  top: 0.8rem;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
}
.settings__modal .settings__body div .listOfOptions li {
  padding: 12px 0;
  text-indent: 1rem;
  border: 0.125rem solid #000;
}
.settings__modal .settings__body div .listOfOptions li:hover {
  background-color: #151516;
}
.settings__modal .settings__body div .listOfOptions li:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.settings__modal .settings__body div .listOfOptions li:nth-child(odd) {
  border-top: none;
}
.settings__modal .settings__body div .listOfOptions li:nth-child(4) {
  border-top: none;
}
.settings__modal .settings__footer {
  padding: 0 1rem 1rem 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.settings__modal .settings__footer div {
  display: flex;
}
.settings__modal .settings__footer div button {
  padding: 0.75rem 1.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border: 0.125rem solid #000;
  background-color: #1b1b1d;
  cursor: pointer;
  transition: background-color 0.3s;
}
.settings__modal .settings__footer div button:hover {
  background-color: #ff5f5a;
}
.settings__modal .settings__footer div button:first-child {
  border-right-width: 0.03125rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.settings__modal .settings__footer div button:last-child {
  border-left-width: 0.03125rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media screen and (min-width: 64rem) {
  .blurOnMain {
    display: block;
  }
}
@media screen and (min-width: 96rem) {
  .blurOnMain {
    display: none;
  }
}
@media screen and (min-width: 96rem) {
  .hamburgerButton#menuButton {
    display: none;
  }
} /*# sourceMappingURL=styles.css.map */
