@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  color: #fff;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.2;
  background-color: #2d2e31;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: gray;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 60);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.primary__color {
  color: #ff5f5a !important;
}
.primary__color--hover:hover {
  color: #ff5f5a !important;
}
.primary__color--active:active {
  color: #ff5f5a !important;
}

.secondary__color {
  color: #ffbe2e !important;
}
.secondary__color--hover:hover {
  color: #ffbe2e !important;
}
.secondary__color--active:active {
  color: #ffbe2e !important;
}

.tertiary__color {
  color: #2aca44 !important;
}
.tertiary__color--hover:hover {
  color: #2aca44 !important;
}
.tertiary__color--active:active {
  color: #2aca44 !important;
}

.quaternary__color {
  color: #2e60f2 !important;
}
.quaternary__color--hover:hover {
  color: #2e60f2 !important;
}
.quaternary__color--active:active {
  color: #2e60f2 !important;
}

.quinary__color {
  color: #662ef2 !important;
}
.quinary__color--hover:hover {
  color: #662ef2 !important;
}
.quinary__color--active:active {
  color: #662ef2 !important;
}

.primary__backgroundColor {
  background-color: #ff5f5a !important;
}
.primary__backgroundColor--lessLightHover:hover {
  background-color: #ff150e !important;
}
.primary__backgroundColor--selected {
  background-color: #ff5f5a !important;
}
.primary__backgroundColor--selected:hover {
  background-color: #ff5f5a !important;
}
.primary__backgroundColor--menuHover:hover div {
  background-color: #ff5f5a !important;
}
.primary__backgroundColor--menuActive:active div {
  background-color: #ff5f5a !important;
}
.primary__backgroundColor--hover:hover {
  background-color: #ff5f5a !important;
}
.primary__backgroundColor--active:active {
  background-color: #ff5f5a !important;
}

.secondary__backgroundColor {
  background-color: #ffbe2e !important;
}
.secondary__backgroundColor--lessLightHover:hover {
  background-color: #e19b00 !important;
}
.secondary__backgroundColor--selected {
  background-color: #ffbe2e !important;
}
.secondary__backgroundColor--selected:hover {
  background-color: #ffbe2e !important;
}
.secondary__backgroundColor--menuHover:hover div {
  background-color: #ffbe2e !important;
}
.secondary__backgroundColor--menuActive:active div {
  background-color: #ffbe2e !important;
}
.secondary__backgroundColor--hover:hover {
  background-color: #ffbe2e !important;
}
.secondary__backgroundColor--active:active {
  background-color: #ffbe2e !important;
}

.tertiary__backgroundColor {
  background-color: #2aca44 !important;
}
.tertiary__backgroundColor--lessLightHover:hover {
  background-color: #1d8b2f !important;
}
.tertiary__backgroundColor--selected {
  background-color: #2aca44 !important;
}
.tertiary__backgroundColor--selected:hover {
  background-color: #2aca44 !important;
}
.tertiary__backgroundColor--menuHover:hover div {
  background-color: #2aca44 !important;
}
.tertiary__backgroundColor--menuActive:active div {
  background-color: #2aca44 !important;
}
.tertiary__backgroundColor--hover:hover {
  background-color: #2aca44 !important;
}
.tertiary__backgroundColor--active:active {
  background-color: #2aca44 !important;
}

.quaternary__backgroundColor {
  background-color: #2e60f2 !important;
}
.quaternary__backgroundColor--lessLightHover:hover {
  background-color: #0c3cc7 !important;
}
.quaternary__backgroundColor--selected {
  background-color: #2e60f2 !important;
}
.quaternary__backgroundColor--selected:hover {
  background-color: #2e60f2 !important;
}
.quaternary__backgroundColor--menuHover:hover div {
  background-color: #2e60f2 !important;
}
.quaternary__backgroundColor--menuActive:active div {
  background-color: #2e60f2 !important;
}
.quaternary__backgroundColor--hover:hover {
  background-color: #2e60f2 !important;
}
.quaternary__backgroundColor--active:active {
  background-color: #2e60f2 !important;
}

.quinary__backgroundColor {
  background-color: #662ef2 !important;
}
.quinary__backgroundColor--lessLightHover:hover {
  background-color: #420cc7 !important;
}
.quinary__backgroundColor--selected {
  background-color: #662ef2 !important;
}
.quinary__backgroundColor--selected:hover {
  background-color: #662ef2 !important;
}
.quinary__backgroundColor--menuHover:hover div {
  background-color: #662ef2 !important;
}
.quinary__backgroundColor--menuActive:active div {
  background-color: #662ef2 !important;
}
.quinary__backgroundColor--hover:hover {
  background-color: #662ef2 !important;
}
.quinary__backgroundColor--active:active {
  background-color: #662ef2 !important;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@media screen and (min-width: 40rem) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    letter-spacing: 0.125rem;
  }
}

.footer .container, .main__services .container, .main__projects .container, .main__apresentation .container, .header .container {
  margin: 0 auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .footer .container, .main__services .container, .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 48rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 64rem) {
  .footer .container, .main__services .container, .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 64rem;
    padding-right: 0.45rem;
    padding-left: 0.45rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer .container, .main__services .container, .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 80rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}
@media screen and (min-width: 96rem) {
  .footer .container, .main__services .container, .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 96rem;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  border-bottom: 0.0625rem solid #ccc;
  background-color: #25262a;
}
.header .container {
  padding: 1rem 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.header__title a {
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header__menu .menu__lineOne,
.header__menu .menu__lineTwo,
.header__menu .menu__lineThree {
  height: 0.125rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  -webkit-transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s, background-color 0.3s, -moz-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s;
}
.header__menu .menu__lineOne.lineOneIsActivated {
  -webkit-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
     -moz-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
      -ms-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
          transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}
.header__menu .menu__lineTwo.lineTwoIsActivated {
  opacity: 0;
}
.header__menu .menu__lineThree.lineThreeIsActivated {
  -webkit-transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
     -moz-transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
      -ms-transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
          transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
}

.header__links {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  margin-top: 3.85rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  background-color: #25262a;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s;
}
.header__links.menuIsActivated {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.header__links .header__navigation {
  margin: 5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__links .header__navigation .header__navigationTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}
.header__links .header__navigation .header__navigationLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__links .header__navigation .header__navigationLinks a {
  font-size: 1.3rem;
  text-align: center;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.header__links .header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1rem;
}
.header__links .header__contacts .header__contactTitle {
  display: block;
}
.header__links .header__contacts .header__contactTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}
.header__links .header__contacts .header__contactsLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 1.25rem;
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@-moz-keyframes expand {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  100% {
    -moz-transform: scale(1.15);
         transform: scale(1.15);
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
       -moz-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@-webkit-keyframes noExpand {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes noExpand {
  0% {
    -moz-transform: scale(1.15);
         transform: scale(1.15);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@keyframes noExpand {
  0% {
    -webkit-transform: scale(1.15);
       -moz-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
  }
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin,
.header__links .header__contacts .header__contactsLinks .fa-envelope,
.header__links .header__contacts .header__contactsLinks .fa-whatsapp,
.header__links .header__contacts .header__contactsLinks .fa-github {
  font-size: 1.75rem;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin:hover,
.header__links .header__contacts .header__contactsLinks .fa-envelope:hover,
.header__links .header__contacts .header__contactsLinks .fa-whatsapp:hover,
.header__links .header__contacts .header__contactsLinks .fa-github:hover {
  -webkit-animation: expand 0.5s linear infinite alternate;
     -moz-animation: expand 0.5s linear infinite alternate;
          animation: expand 0.5s linear infinite alternate;
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin:hover {
  color: #0e76a8;
}
.header__links .header__contacts .header__contactsLinks .fa-envelope:hover {
  color: #ee3c36;
}
.header__links .header__contacts .header__contactsLinks .fa-whatsapp:hover {
  color: #25d366;
}
.header__links .header__contacts .header__contactsLinks .fa-github:hover {
  color: #101010;
}

@media screen and (min-width: 96rem) {
  .header .container {
    padding: 1.5rem 0;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }
}

@media screen and (min-width: 48rem) {
  .header__title a {
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 96rem) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 48rem) {
  .header__links {
    margin-top: 4.05rem;
  }
}
@media screen and (min-width: 64rem) {
  .header__links {
    width: 50%;
    -webkit-box-shadow: inset 2rem 2rem 4rem rgba(0, 0, 0, 0.4);
            box-shadow: inset 2rem 2rem 4rem rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 96rem) {
  .header__links {
    height: auto;
    width: 51.5%;
    position: static;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    border-left: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation {
    margin: 0;
    display: block;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationTitle {
    display: none;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    gap: 1.5rem;
  }
  .header__links .header__navigation .header__navigationLinks a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactTitle {
    display: none;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactTitle h2 {
    font-size: 1.65rem;
  }
}
@media screen and (min-width: 48rem) {
  .header__links .header__contacts .header__contactsLinks .fa-linkedin,
  .header__links .header__contacts .header__contactsLinks .fa-envelope,
  .header__links .header__contacts .header__contactsLinks .fa-whatsapp,
  .header__links .header__contacts .header__contactsLinks .fa-github {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactsLinks .fa-linkedin,
  .header__links .header__contacts .header__contactsLinks .fa-envelope,
  .header__links .header__contacts .header__contactsLinks .fa-whatsapp,
  .header__links .header__contacts .header__contactsLinks .fa-github {
    font-size: 1.5rem;
  }
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

@media screen and (min-width: 64rem) {
  .main {
    margin-top: 0;
  }
}

.main__apresentation .container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1.5rem;
}

.main__apresentation {
  margin-top: 3.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.main__apresentation .apresentation__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1rem;
}
.main__apresentation .apresentation__content h2 {
  font-size: 1.75rem;
  text-align: center;
}
.main__apresentation .apresentation__content p {
  text-align: center;
}
.main__apresentation .apresentation__content a {
  width: 80%;
  padding: 0.75rem 0;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.apresentation__code {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  letter-spacing: 0.125rem;
  border-radius: 1rem;
  border: 0.125rem solid #000;
  background-color: #23272e;
}
.apresentation__code .code__header {
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 1rem;
  border-bottom: 0.0625rem solid #000;
}
.apresentation__code .code__header div {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.apresentation__code .code__header div:nth-child(1) {
  background: #ff5f5a;
}
.apresentation__code .code__header div:nth-child(2) {
  background-color: #ffbe2e;
}
.apresentation__code .code__header div:nth-child(3) {
  background-color: #2aca44;
}
.apresentation__code .code__body {
  padding: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 0.75rem;
}
.apresentation__code .code__lines {
  display: none;
}
.apresentation__code .code__content .code__declaration {
  color: #b770cd;
}
.apresentation__code .code__content .code__title {
  display: inline;
  font-size: 1rem;
  color: #d5b375;
}
.apresentation__code .code__content .code__assignment {
  color: #4a95a1;
}
.apresentation__code .code__content .code__keys {
  color: #9ba2ae;
}
.apresentation__code .code__content .code__properties {
  margin-left: 1.5rem;
  color: #db6a73;
}
.apresentation__code .code__content .code__values {
  color: #98c379;
}
.apresentation__code .code__content .code__values--noString {
  color: #b2865c;
}
.apresentation__code .code__content .code__values--block {
  margin-left: 3rem;
  display: block;
  color: #98c379;
}
.apresentation__code .code__content .code__commas {
  color: #9ba2ae;
}
.apresentation__code .code__content .code__brackets {
  color: #9ba2ae;
}
.apresentation__code .code__content .code__brackets:last-child {
  margin-left: 1.5rem;
}
.apresentation__code .code__content .code__valueArray {
  margin-left: 3rem;
  display: block;
}

@media screen and (min-width: 64rem) {
  .main__apresentation .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
    gap: 3.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__apresentation .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 64rem) {
  .main__apresentation {
    min-height: 82.5vh;
    margin-top: 4.05rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__apresentation {
    margin-top: 5.043125rem;
  }
}
@media screen and (min-width: 64rem) {
  .main__apresentation .apresentation__content {
    gap: 1.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__apresentation .apresentation__content {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 64rem) {
  .main__apresentation .apresentation__content a {
    width: 60%;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 31.25rem) {
  .apresentation__code .code__lines {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    text-align: right;
  }
  .apresentation__code .code__lines span {
    color: #ccc;
  }
}

.main__projects {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  background-color: #1b1b1d;
}
.main__projects #myProjects {
  position: absolute;
  top: -10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main__projects .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 2rem;
}

.projects__contents {
  max-width: 64rem;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  background-color: #25262a;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.projects__contents .projects__pagesContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1rem;
}
.projects__contents .projects__pagesContainer .projects__projectAccountant {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75rem;
  -webkit-align-self: flex-end;
          align-self: flex-end;
  font-size: 0.75rem;
  border-radius: 1rem;
  background-color: #1b1b1d;
}
.projects__contents .projects__pagesContainer .projects__projectAccountant strong {
  font-weight: 700;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page {
  display: none;
  -webkit-animation: fadeOut 0.5s;
     -moz-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
  -webkit-animation: fadeIn 0.5s;
     -moz-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card {
  padding: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  border: 0.125rem solid #1b1b1d;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardHeader h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardBody .projects__cardDescription {
  font-size: 0.85rem;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardBody .projects__cardDescription p {
  height: 100%;
  text-align: center;
  overflow-wrap: break-word;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardFooter {
  margin-top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardFooter a {
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #1b1b1d;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.projects__contents .projects__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.projects__contents .projects__pagination a {
  padding: 0.35rem 0.7rem;
  font-weight: 700;
  background-color: #1b1b1d;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.projects__contents .projects__pagination a:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.projects__contents .projects__pagination a:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.projects__contents .projects__loadingProjects {
  margin: 0 0 6rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1.5rem;
}
.error i {
  font-size: 5rem;
}
.error h3 {
  font-size: 1.65rem;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 20.0625rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card {
    padding: 1rem;
  }
}
@media screen and (min-width: 40rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card {
    min-height: 0;
    min-width: 0;
  }
}
@media screen and (min-width: 48rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardHeader h3 {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (min-width: 48rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardBody .projects__cardDescription p {
    text-align: left;
  }
}
@media screen and (min-width: 20.0625rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardFooter a {
    padding: 0.75rem 1.25rem;
  }
}
@media screen and (min-width: 40rem) {
  .projects__contents .projects__pagesContainer .projects__projectsItems .projects__page.projects__pageIsDisplayed .projects__card .projects__cardFooter a {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 48rem) {
  .error h3 {
    width: 75%;
  }
}
@media screen and (min-width: 64rem) {
  .error h3 {
    width: 65%;
  }
}

.main__services {
  width: 100%;
  padding: 2rem 0;
}
.main__services .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 2rem;
}

.services__contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 1.5rem;
}
.services__contents .services__service {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 0.125rem solid #1b1b1d;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.services__contents .services__service .service__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 0.75rem;
}
.services__contents .services__service .service__header .service__icon i {
  font-size: 3rem;
}
.services__contents .services__service .service__header .service__title h3 {
  font-size: 1.75rem;
  text-align: center;
}
.services__contents .services__service .service__body .service__description p {
  font-size: 1rem;
  text-align: center;
}
.services__contents .services__service .service__footer {
  height: 3rem;
  margin-top: auto;
}
.services__contents .services__service .service__footer .service__action {
  height: 100%;
}
.services__contents .services__service .service__footer .service__action a {
  height: inherit;
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-size: 0.85rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #1b1b1d;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media screen and (min-width: 40rem) {
  .services__contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .services__contents {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 31.25rem) {
  .services__contents .services__service:hover {
    -webkit-box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.4);
            box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.4);
  }
}

.footer {
  padding: 2rem 0;
  background-color: #1b1b1d;
}
.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__contactsDetails {
  width: 100%;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1rem;
  text-align: center;
  border-top: 0.125rem solid #2d2e31;
  border-bottom: 0.125rem solid #2d2e31;
}
.footer__contactsDetails .footer__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.footer__contactsDetails .footer__contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 0.25rem;
}
.footer__contactsDetails .footer__contact h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.footer__contactsDetails .footer__contact a {
  font-size: 0.8rem;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 0.25rem;
  text-align: center;
}
.footer__copy h2 {
  font-weight: 700;
}
.footer__copy p {
  font-size: 0.8rem;
}

.footer__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1rem;
  text-align: center;
}
.footer__navigation .footer__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.footer__navigation .footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 1rem;
}
.footer__navigation .footer__links a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

@media screen and (min-width: 48rem) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "navigation contacts" "copy copy";
    gap: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "navigation copy contacts";
  }
}

@media screen and (min-width: 48rem) {
  .footer__navigation {
    height: 100%;
    width: 100%;
    padding: 1rem;
    grid-area: navigation;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
       -moz-box-pack: start;
            justify-content: start;
    border-radius: 1rem;
    background-color: #25262a;
  }
}
@media screen and (min-width: 80rem) {
  .footer__navigation {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    border-radius: 0;
    background-color: transparent;
  }
}

@media screen and (min-width: 48rem) {
  .footer__contactsDetails {
    height: 100%;
    width: 100%;
    padding: 1rem;
    grid-area: contacts;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
       -moz-box-pack: start;
            justify-content: start;
    border-radius: 1rem;
    border: none;
    background-color: #25262a;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contactsDetails {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    border-radius: 0;
    background-color: transparent;
  }
}

@media screen and (min-width: 48rem) {
  .footer__copy {
    padding-top: 1rem;
    grid-area: copy;
  }
  .footer__copy h2 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copy {
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
    border-right: 0.125rem solid #2d2e31;
    border-left: 0.125rem solid #2d2e31;
  }
}

.BlurOnBody,
.BlurOnMain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

.BlurOnBody {
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.BlurOnBody.BlurOnBodyIsActivated {
  opacity: 1;
  pointer-events: all;
}

.BlurOnMain {
  height: 100vh;
  width: 50%;
  z-index: 1000;
  margin-top: 4.05rem;
  border-right: 0.0625rem solid #ccc;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -moz-transition: transform 0.5s ease, -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease;
}
.BlurOnMain.BlurOnMainIsActivated {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.container__gear {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  z-index: 1002;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #444444;
  cursor: pointer;
}
.container__gear i {
  color: #949494;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  transition: 1s ease;
}

.settings__modal {
  max-width: 40rem;
  height: 30rem;
  width: 95%;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1002;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  opacity: 0;
  border-radius: 1rem;
  border: 0.125rem solid #000;
  background-color: #23272e;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transform: translate(-50%, -35%);
     -moz-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}
.settings__modal.settingActivated {
  opacity: 1;
  pointer-events: all;
}
.settings__modal .settings__header {
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #000;
}
.settings__modal .settings__header i {
  font-size: 2rem;
  cursor: pointer;
}
.settings__modal .settings__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.settings__modal .settings__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.separator {
  width: 0.0625rem;
  display: block;
  background-color: #fff;
}
.separator--page {
  height: 100%;
  width: 0.0625rem;
  display: block;
  background-color: #fff;
}

.sectionTitle {
  font-size: 2.5rem;
  text-align: center;
}
.sectionTitle--90deg {
  font-size: 2.5rem;
  -webkit-transform: rotate(270deg) translateY(-100%);
     -moz-transform: rotate(270deg) translateY(-100%);
      -ms-transform: rotate(270deg) translateY(-100%);
          transform: rotate(270deg) translateY(-100%);
}

@media screen and (min-width: 64rem) {
  .BlurOnMain {
    display: block;
  }
}
@media screen and (min-width: 96rem) {
  .BlurOnMain {
    display: none;
  }
}