@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  color: #fff;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 40rem) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    letter-spacing: 0.125rem;
  }
}

body {
  overflow-x: hidden;
  padding: 0 0 200rem 0;
  line-height: 1.2;
  background-color: #2d2e31;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: gray;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 60);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__projects .container, .main__apresentation .container, .header .container {
  margin: 0 auto;
  padding: 0 0.75rem;
}
@media screen and (min-width: 48rem) {
  .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 48rem;
    padding: 0 0.6rem;
  }
}
@media screen and (min-width: 64rem) {
  .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 64rem;
    padding: 0 0.45rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 80rem;
    padding: 0 0.3rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__projects .container, .main__apresentation .container, .header .container {
    max-width: 96rem;
  }
}

.header__title {
  font-size: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .header__title {
    padding: 0;
    font-size: 1.65rem;
  }
}
.header__title a {
  transition: color 0.2s;
}
.header__title a:hover {
  color: #f2542d;
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
@media screen and (min-width: 96rem) {
  .header__menu {
    display: none;
  }
}
.header__menu .menu__lineOne,
.header__menu .menu__lineTwo,
.header__menu .menu__lineThree {
  height: 0.125rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: 0.25s ease;
}
.header__menu .menu__lineOne.lineOneIsActivated {
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}
.header__menu .menu__lineTwo.lineTwoIsActivated {
  opacity: 0;
}
.header__menu .menu__lineThree.lineThreeIsActivated {
  transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
}
.header__menu:active .menu__lineOne,
.header__menu:active .menu__lineTwo,
.header__menu:active .menu__lineThree {
  background-color: #f2542d;
}
@media screen and (min-width: 31.25rem) {
  .header__menu:hover .header__lineOne,
  .header__menu:hover .header__lineTwo,
  .header__menu:hover .header__lineThree {
    background-color: #f2542d;
  }
}

.header__links {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  margin-top: 4.85rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #25262a;
  transform: translateX(100%);
  transition: 0.5s ease;
}
.header__links.menuIsActivated {
  transform: translateX(0);
}
@media screen and (min-width: 48rem) {
  .header__links {
    margin-top: 5.05rem;
  }
}
@media screen and (min-width: 64rem) {
  .header__links {
    width: 50%;
    box-shadow: inset 2rem 0 4rem rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 96rem) {
  .header__links {
    height: auto;
    position: static;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    border-left: none;
    box-shadow: none;
    transform: translate(0);
  }
}
.header__links .header__navigation {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation {
    margin: 0;
    display: block;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationTitle {
    display: none;
  }
}
.header__links .header__navigation .header__navigationTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}
.header__links .header__navigation .header__navigationLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationLinks {
    flex-direction: row;
    gap: 1.5rem;
  }
}
.header__links .header__navigation .header__navigationLinks a {
  font-size: 1.3rem;
  border-bottom: 0.125rem solid transparent;
  transition: color 0.2s, border-bottom 0.4s;
}
.header__links .header__navigation .header__navigationLinks a:hover {
  color: #f2542d;
  border-bottom: 0.125rem solid #f2542d;
}
@media screen and (min-width: 96rem) {
  .header__links .header__navigation .header__navigationLinks a {
    font-size: 1.15rem;
  }
}
.header__links .header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts {
    flex-direction: row;
  }
}
.header__links .header__contacts .header__contactTitle {
  display: block;
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactTitle {
    display: flex;
    gap: 1rem;
  }
}
.header__links .header__contacts .header__contactTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}
.header__links .header__contacts .header__contactTitle div {
  width: 0.0625rem;
  display: block;
  background-color: white;
}
.header__links .header__contacts .header__contactsLinks {
  display: flex;
  gap: 1.25rem;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin,
.header__links .header__contacts .header__contactsLinks .fa-envelope,
.header__links .header__contacts .header__contactsLinks .fa-whatsapp {
  font-size: 1.5rem;
  transition: color 0.2s;
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin:hover,
.header__links .header__contacts .header__contactsLinks .fa-envelope:hover,
.header__links .header__contacts .header__contactsLinks .fa-whatsapp:hover {
  animation: expand 0.5s linear infinite alternate;
}
@media screen and (min-width: 48rem) {
  .header__links .header__contacts .header__contactsLinks .fa-linkedin,
  .header__links .header__contacts .header__contactsLinks .fa-envelope,
  .header__links .header__contacts .header__contactsLinks .fa-whatsapp {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__links .header__contacts .header__contactsLinks .fa-linkedin,
  .header__links .header__contacts .header__contactsLinks .fa-envelope,
  .header__links .header__contacts .header__contactsLinks .fa-whatsapp {
    font-size: 1.5rem;
  }
}
.header__links .header__contacts .header__contactsLinks .fa-linkedin:hover {
  color: #0e76a8;
}
.header__links .header__contacts .header__contactsLinks .fa-envelope:hover {
  color: #f2542d;
}
.header__links .header__contacts .header__contactsLinks .fa-whatsapp:hover {
  color: #25d366;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  border-bottom: 0.0625rem solid gray;
  background-color: #25262a;
}
.header .container {
  padding: 1.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 96rem) {
  .header .container {
    padding: 1.5rem 0;
    justify-content: space-around;
  }
}

.main__apresentation .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
@media screen and (min-width: 64rem) {
  .main__apresentation .container {
    flex-direction: row;
    gap: 3.25rem;
  }
}

.main__apresentation .apresentation__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
@media screen and (min-width: 64rem) {
  .main__apresentation .apresentation__content {
    gap: 1.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__apresentation .apresentation__content {
    gap: 1.5rem;
  }
}
.main__apresentation .apresentation__content h2 {
  font-size: 1.75rem;
}
.main__apresentation .apresentation__content h2 strong {
  color: #f2542d;
}
.main__apresentation .apresentation__content a {
  width: 80%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  background-color: #f2542d;
  transition: background-color 0.4s;
}
.main__apresentation .apresentation__content a:hover {
  background-color: #c6310c;
}
@media screen and (min-width: 64rem) {
  .main__apresentation .apresentation__content a {
    width: 60%;
    padding: 1rem 0;
  }
}

.apresentation__code {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.125rem;
  border-radius: 1rem;
  border: 0.125rem solid black;
  background-color: #23272e;
}
.apresentation__code .code__header {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 0.0625rem solid black;
}
.apresentation__code .code__header div {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.apresentation__code .code__header div:nth-child(1) {
  background: #ff5f5a;
}
.apresentation__code .code__header div:nth-child(2) {
  background-color: #ffbe2e;
}
.apresentation__code .code__header div:nth-child(3) {
  background-color: #2aca44;
}
.apresentation__code .code__body {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
}
.apresentation__code .code__lines {
  display: none;
}
@media screen and (min-width: 64rem) {
  .apresentation__code .code__lines {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .apresentation__code .code__lines span {
    color: gray;
  }
}
.apresentation__code .code__content .code__declaration {
  color: #b770cd;
}
.apresentation__code .code__content .code__title {
  display: inline;
  font-size: 1rem;
  color: #d5b375;
}
.apresentation__code .code__content .code__assignment {
  color: #4a95a1;
}
.apresentation__code .code__content .code__keys {
  color: #9ba2ae;
}
.apresentation__code .code__content .code__properties {
  margin-left: 1.5rem;
  color: #db6a73;
}
.apresentation__code .code__content .code__values {
  color: #98c379;
}
.apresentation__code .code__content .code__values--noString {
  color: #b2865c;
}
.apresentation__code .code__content .code__values--block {
  margin-left: 3rem;
  display: block;
  color: #98c379;
}
.apresentation__code .code__content .code__commas {
  color: #9ba2ae;
}
.apresentation__code .code__content .code__brackets {
  color: #9ba2ae;
}
.apresentation__code .code__content .code__brackets:last-child {
  margin-left: 1.5rem;
}
.apresentation__code .code__content .code__valueArray {
  margin-left: 3rem;
  display: block;
}

.main__projects {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem 0;
  background-color: #1b1b1d;
}
.main__projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.projects__sectionTitle {
  font-size: 2.5rem;
  text-align: center;
}

.projects__contents {
  max-width: 64rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #262626;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}
.projects__contents .projects__page[data-page="1"] {
  height: 100%;
  width: 100%;
}

h1 {
  color: red;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.error i {
  font-size: 5rem;
  color: #f2542d;
}
.error h3 {
  font-size: 1.65rem;
  text-align: center;
}

.main {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 64rem) {
  .main {
    margin-top: 10rem;
  }
}

.BlurOnBody,
.BlurOnMain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
}

.BlurOnBody {
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}
.BlurOnBody.BlurOnBodyIsActivated {
  opacity: 1;
  pointer-events: all;
}

.BlurOnMain {
  height: 100vh;
  width: 50%;
  z-index: 1000;
  margin-top: 5.05rem;
  border-right: 0.0625rem solid gray;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.BlurOnMain.BlurOnMainIsActivated {
  transform: translateX(0);
}
@media screen and (min-width: 64rem) {
  .BlurOnMain {
    display: block;
  }
}
@media screen and (min-width: 96rem) {
  .BlurOnMain {
    display: none;
  }
}

.container__gear {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #444444;
  cursor: pointer;
}
.container__gear i {
  color: #949494;
  transition: 1s ease;
}

.settings__modal {
  max-width: 40rem;
  height: 30rem;
  width: 95%;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1002;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  border-radius: 1rem;
  border: 0.125rem solid black;
  background-color: #23272e;
  pointer-events: none;
  transition: opacity 0.5s ease;
  transform: translate(-50%, -35%);
}
.settings__modal.settingActivated {
  opacity: 1;
  pointer-events: all;
}

.settings__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid black;
}
.settings__header i {
  font-size: 2rem;
  cursor: pointer;
}

.settings__body {
  display: flex;
}

.settings__footer {
  display: flex;
}

.pagination {
  height: 2rem;
  width: 32rem;
  margin: 0 auto;
  display: flex;
  background-color: wheat;
  grid-column-start: 1;
  grid-column-end: 3;
}

/*# sourceMappingURL=styles.css.map */
