@use '../1-base/variables';

.gearToSettings {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: variables.$gear-backgroundColor;
  cursor: pointer;

  i {
    font-size: 2rem;
    color: variables.$gear-color;
    transition: transform variables.$transition-medium;
  }
}

.settings {
  max-width: 40rem;
  height: 32rem;
  width: 95%;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  opacity: 0;
  border-radius: 1rem;
  border: 0.125rem solid variables.$black;
  background-color: variables.$window-backgroundColor;
  pointer-events: none;
  transition: opacity variables.$transition-medium;
  transform: translate(-50%, -35%);
  &.settingActivated {
    opacity: 1;
    pointer-events: all;
  }

  .settings__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid variables.$black;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      text-shadow: variables.$shadow-text;
    }
  }

  .settings__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .option {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-size: 1.25rem;
      }

      .selectHidden {
        display: none;
      }

      .elementOfSelections {
        height: 3rem;
        position: relative;
        cursor: pointer;
      }

      .selectedItem {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        border: 0.125rem solid variables.$black;
        background-color: variables.$tertiary-color;
        transition: background-color variables.$transition-fast,
          border-radius variables.$transition-fast;
        &:hover {
          background-color: variables.$tertiary-color-less-light;
        }

        &:after {
          content: '';
          position: absolute;
          top: 1.25rem;
          right: 1rem;
          border: 0.5rem solid transparent;
          border-color: variables.$white transparent transparent transparent;
          transition: top variables.$transition-fast,
            border-color variables.$transition-fast;
        }
      }

      .listOfOptions {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 1000;
        display: block;
        opacity: 0;
        overflow: hidden;
        background-color: variables.$tertiary-color;
        pointer-events: none;
        transition: opacity variables.$transition-fast;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        &.show {
          opacity: 1;
          pointer-events: all;

          + .selectedItem {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:after {
              top: 0.8rem;
              border-color: transparent transparent variables.$white transparent;
            }
          }
        }

        li {
          padding: 0.75rem 1rem;
          border: 0.125rem solid variables.$black;
          &:hover {
            background-color: variables.$tertiary-color-less-light;
          }
          &:last-child {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
          &:nth-child(odd) {
            border-top: none;
          }
          &:nth-child(4) {
            border-top: none;
          }
        }
      }
    }
  }

  .settings__footer {
    padding: 0 1rem 1rem 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    div {
      display: flex;

      button {
        padding: 0.75rem 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: variables.$white;
        border: 0.125rem solid variables.$black;
        background-color: variables.$tertiary-color;
        cursor: pointer;
        transition: background-color variables.$transition-fast;
        &:first-child {
          border-right-width: 0.03125rem;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
        &:last-child {
          border-left-width: 0.03125rem;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }
    }
  }
}
