@use '../../../3-modules/plugins';

.main__services {
  width: 100%;
  padding: 2rem 0;

  .container {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
