@use '../../../1-base/variables';
@use '../../../3-modules/mixins';

.services {
  @include mixins.sm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include mixins.lg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .services__item {
    @include mixins.min-desktop {
      &:hover {
        box-shadow: variables.$shadow-dark;
      }
    }
  }
}
