@use '../../../1-base/variables';

.services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .services__item {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    border: 0.125rem solid variables.$tertiary-color;
    box-shadow: variables.$shadow-medium;

    .services__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      .services__icon {
        i {
          font-size: 3rem;
        }
      }

      .services__title {
        h3 {
          font-size: 1.75rem;
          text-align: center;
        }
      }
    }

    .services__body {
      .services__description {
        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }

    .services__footer {
      height: 3rem;
      margin-top: auto;

      a {
        height: 100%;
        padding: 0 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0.5rem;
        background-color: variables.$tertiary-color;
        transition: background-color variables.$transition-fast;
      }
    }
  }
}
