@use '../../../1-base/variables';

.services__contents {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .services__service {
    $self: '.service';
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    border: 0.125rem solid variables.$tertiary-color;
    box-shadow: 0.25rem 0.25rem 2rem rgba(0, 0, 0, 0.4);
    &:hover {
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.8);
    }

    #{$self}__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      #{$self}__icon {
        i {
          font-size: 3rem;
        }
      }

      #{$self}__title {
        h3 {
          font-size: 1.75rem;
          text-align: center;
        }
      }
    }

    #{$self}__body {
      #{$self}__description {
        p {
          // font-size: 0.9rem;
          font-size: 1rem;
          text-align: center;
        }
      }
    }

    #{$self}__footer {
      // height: 2.5rem;
      height: 3rem;
      margin-top: auto;
      #{$self}__action {
        height: 100%;
        a {
          text-align: center;
          height: inherit;
          padding: 0 1.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.85rem;
          font-weight: 700;
          text-transform: uppercase;
          color: variables.$white;
          border-radius: 0.75rem;
          background-color: variables.$tertiary-color;
          transition: background-color 0.3s;
          &:hover {
            background-color: variables.$quaternary-color;
          }
        }
      }
    }
  }
}
