@use '../../1-base/variables';
@use '../../3-modules/mixins';
@use '../../3-modules/plugins';

.header {
  $header: &;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  border-bottom: 0.0625rem solid gray;
  background-color: variables.$secondary-color;

  &__container {
    padding: 1.5rem 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @extend %container;
    @include mixins.xl2 {
      padding: 1.5rem 0;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    #{$header}__title {
      font-size: 1.5rem;
      @include mixins.md {
        padding: 0;
        font-size: 1.65rem;
      }

      h1 > a {
        -webkit-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
        &:hover {
          color: variables.$color-link;
        }
      }
    }

    #{$header}__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 0.5rem;
      cursor: pointer;
      @include mixins.xl2 {
        display: none;
      }

      .header__lineOne,
      .header__lineTwo,
      .header__lineThree {
        height: 0.125rem;
        width: 2rem;
        border-radius: 0.5rem;
        background-color: white;
        -webkit-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        transition: 0.25s ease;

        &.lineOneIsActivated {
          -webkit-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
          -ms-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
          transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
        }

        &.lineTwoIsActivated {
          opacity: 0;
        }

        &.lineThreeIsActivated {
          -webkit-transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
          -ms-transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
          transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
        }
      }

      &:active {
        .header__lineOne,
        .header__lineTwo,
        .header__lineThree {
          background-color: variables.$color-link;
        }
      }
      @include mixins.min-desktop {
        &:hover {
          .header__lineOne,
          .header__lineTwo,
          .header__lineThree {
            background-color: variables.$color-link;
          }
        }
      }
    }

    #{$header}__links {
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1001;
      margin-top: 4.85rem;
      padding: 0 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      align-items: center;
      background-color: variables.$secondary-color;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      @include mixins.md {
        margin-top: 5.05rem;
      }
      @include mixins.lg {
        width: 50%;
        -webkit-box-shadow: inset 2rem 0 4rem rgba(0, 0, 0, 0.4);
        box-shadow: inset 2rem 0 4rem rgba(0, 0, 0, 0.4);
      }
      @include mixins.xl2 {
        height: auto;
        position: static;
        margin: 0;
        padding: 0;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
      }

      h2 {
        font-size: 1.75rem;
        @include mixins.md {
          font-size: 2.25rem;
        }
        @include mixins.xl2 {
          font-size: 1.75rem;
        }
      }

      &.menuIsActivated {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }

      #{$header}__navigation {
        margin: 5rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1.5rem;
        @include mixins.xl2 {
          margin: 0;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;

          h2 {
            display: none;
          }
        }

        a {
          padding: 0.5rem 0;
          font-size: 1.15rem;
          border-bottom: 0.125rem solid transparent;
          -webkit-transition: color 0.2s, border-bottom 0.4s;
          -o-transition: color 0.2s, border-bottom 0.4s;
          transition: color 0.2s, border-bottom 0.4s;
          &:hover {
            color: variables.$color-link;
            border-bottom: 0.125rem solid variables.$color-link;
          }
          @include mixins.md {
            font-size: 1.3rem;
          }
          @include mixins.xl2 {
            font-size: 1.15rem;
          }
        }
      }

      #{$header}__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;
        @include mixins.xl2 {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
        }

        span {
          display: none;
          @include mixins.xl2 {
            display: inline;
          }
        }

        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 1.25rem;

          i {
            font-size: 1.5rem;
            @include mixins.md {
              font-size: 1.75rem;
            }
            @include mixins.xl2 {
              font-size: 1.5rem;
            }
            &:hover {
              -webkit-animation: expand 0.5s linear infinite alternate;
              animation: expand 0.5s linear infinite alternate;
            }

            @-webkit-keyframes expand {
              0% {
                -webkit-transform: scale(1);
                transform: scale(1);
              }
              100% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
              }
            }

            @keyframes expand {
              0% {
                -webkit-transform: scale(1);
                transform: scale(1);
              }
              100% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
              }
            }
          }

          .fa-linkedin,
          .fa-envelope,
          .fa-whatsapp {
            -webkit-transition: color 0.2s;
            -o-transition: color 0.2s;
            transition: color 0.2s;
          }

          .fa-linkedin {
            &:hover {
              color: #0e76a8;
            }
          }

          .fa-envelope {
            &:hover {
              color: variables.$color-link;
            }
          }

          .fa-whatsapp {
            &:hover {
              color: #25d366;
            }
          }
        }
      }
    }
  }
}
